##collections are the cointainers that are used to store collection of data.
## COLLECTIONS:-
## 1.LIST
## 2,.TUPLE
## 3.DICTIONARY
## 4.SETS

In [ ]:
## LIST
#IT IS A COLLECTION USED TPO STORE THE DATA.
# IT IS ORDERED AND MUTABLE(CHANGABLE).
# IN PYTHON LIST IS REPRESENTED IN SQUARE BRACKETS.
# LIST IS SIMILAR TO ARRAYS.
# LIST

In [3]:
# HOW TO CREATE AN EMPTY LIST.
### SYNTAX:-LIST_VARIABLE NAME=[]

L1=[2,1,1,1,]
type(L1)

list

In [6]:
# how to assign values to the list
### list_name=[value1,value2]
l1=[10,20,"mahi"]

[10, 20, 'mahi']

In [14]:
# how to acess the values from the list
#syntax:- l1=[index value]
l1

[3]

In [20]:
# how to acess with in the range of value
#syntax:-l1[lowerbound:upper bound]
L1[0:3]

[2, 1, 1]

In [21]:
# in forward direction index position starts from zero.
# in backward direction index position starts from -1
L1[-2]

1

In [22]:
L1[-3:-1]

[1, 1]

In [33]:
a1=[12,13,"mahi",11.3,'we',2+2j,"4/5"]
a1

[12, 13, 'mahi', 11.3, 'we', (2+2j), '4/5']

In [28]:
a1[: : -1]

[(2+2j), 'we', 11.3, 'mahi', 13, 12]

In [32]:
len(a1)# to find the length of the list

7

In [40]:
max(L1)

2

In [41]:
min(L1)

1

In [42]:
sum(L1)

5

In [46]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [67]:
# append:to add the element in the end of the list
## syntax:- list_name.append(element)
m1=[11,12,13,14,15]
m1.append("mahi")

In [71]:
m1

[11, 12, 13, 14, 15, 16, 'mahi']

In [70]:
# insert:- it is used to insert an element in a specified position
## syntax:-list_name.insert(position,elemenent)
m1.insert(5,16)
m1

[11, 12, 13, 14, 15, 16, 'mahi']

In [72]:
# to count the number of times occurs in a list
## syntax:- list_name.count(element)
m1.count(15)

1

In [91]:
# extend--> to add the multiple values in the end of the list.
## syntax:- list_name.extend([val1,val2,val3,val4])
m1
L1
n1=[12,13,14]
n1.extend(L1)
del L1
n1

NameError: name 'L1' is not defined

In [80]:
L1

[2, 1, 1, 1]

In [81]:
m1

[11, 12, 13, 14, 15, 16, 'mahi', 2, 1, 1, 1, 2, 1, 1, 1]

In [88]:
# index:-
# it returns the index position of the given value
L1.index(2)

0

In [102]:
# pop:-to delete an element from the list
## syntax:- l1.pop(index)
n1
n1.pop()
n1=[1,2,3,4,5,6]
n1

IndexError: pop from empty list

In [107]:
L1=[1,2,3,4]
L1.remove(2)
L1

[1, 3, 4]

In [110]:
# reverse:- to print thr reverse of a given list
## syntax:- l1.reverse()
L1.reverse()
L1

[4, 3, 1]

In [116]:
# sort:- to print all list of elements in ascending or descending
## syntax:- l1.sort()--> returns only in ascending order
### syntax:-l1.sort(reverse=true)--> returns in descending order
L1.sort()
L1.sort(reverse=True)
L1

[4, 3, 1]

In [119]:
#copy:-it is used to copy the data from one list to aanother list.
## syntax:-new_l1=old_l2
l1=L1
l1
L1

[4, 3, 1]

In [122]:
m1=L1.copy()
m1
L1

[4, 3, 1]

In [126]:
# clear:-to clear the data from the list
## syntax:-l1.clear()
m1.clear()
m1

[]

In [146]:
# how to acess values from the list using loop.
## syntax:- for variable_name in list_name()
l1=[10,20,10,23,45,67,10]
l1
for i in l1:
    print (i,end=" ")

10 20 10 23 45 67 10

In [150]:
l1.count(10)

3

In [151]:
l1

[10, 12, 20, 10, 12, 12, 23, 45, 67, 10]

In [153]:
l1.remove(12)
l1

[10, 20, 10, 12, 23, 45, 67, 10]

In [159]:
l1.remove(10)
l1

[20, 23, 45, 67, 10]

In [ ]:
####tasks:-
#1.create a  function to find the largest element in the list? 
#2.create a function to find the smallest element in the list?
#3.create a function to find the second largest element in the list? L=[20,30,40,50,80,10,90]
#4.create a function to find the  third largest element in the list? L=[10,20,30,10,10,20,30,40]
#5.create a function to find the kth largest in the list?
#6.create a function to find the kth smallest in the list?

In [163]:
#1.create a  function to find the largest element in the list?
def findinglargestnum():
    l=[1,2,3,4,5,6,7,8]
    print(max(l))
findinglargestnum()

8

In [164]:
#2.create a function to find the smallest element in the list?
def findingsmallestnum():
    l=[1,2,3,4,5,6,7,8]
    print(min(l))
findingsmallestnum()

1

In [179]:
#3.create a function to find the second largest element in the list? L=[20,30,40,50,80,10,90]
def secondlargestnum():
    L=[20,30,40,50,80,10,90]
    L.sort()
    print(L[-2])
secondlargestnum()

80

In [211]:
#4.create a function to find the  third largest element in the list? L=[10,20,30,10,10,20,30,40]
def thirdlargestnum():
    L=[10,20,30,10,10,20,30,40]
    M=[]
    for i in L:
        if i not in M:
            M.append(i)
            M.sort(reverse = True)
            print(M[3-1])
thirdlargestnum()

IndexError: list index out of range

In [194]:
#5.create a function to find the kth largest in the list?L=[10,50,20,30,60,80,100,500,89,47]&k=42
k=int(input())
def kthlargest():
    L=[10,50,20,30,60,80,100,500,89,47]
    L.sort(reverse=True)
    print(L[k-1])
kthlargest()

4
80

In [193]:
#6.create a function to find the kth smallest in the list?
k=int(input())
def kthsmallest():
    L=[10,50,20,30,60,80,100,500,89,47]
    L.sort()
    print(L[k-1])
kthsmallest()

2
20